/* styles.css */
@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

/* Manrope Bold */
@font-face {
  font-family: "Manrope";
  src: url("./assets/fonts/Manrope-Bold.ttf") format("truetype");
  font-weight: bold;
}

/* Manrope ExtraBold */
@font-face {
  font-family: "Manrope";
  src: url("./assets/fonts/Manrope-ExtraBold.ttf") format("truetype");
  font-weight: 800;
}

/* Manrope ExtraLight */
@font-face {
  font-family: "Manrope";
  src: url("./assets/fonts/Manrope-ExtraLight.ttf") format("truetype");
  font-weight: 200;
}

/* Manrope Light */
@font-face {
  font-family: "Manrope";
  src: url("./assets/fonts/Manrope-Light.ttf") format("truetype");
  font-weight: 300;
}

/* Manrope Medium */
@font-face {
  font-family: "Manrope";
  src: url("./assets/fonts/Manrope-Medium.ttf") format("truetype");
  font-weight: 500;
}

/* Manrope Regular */
@font-face {
  font-family: "Manrope";
  src: url("./assets/fonts/Manrope-Regular.ttf") format("truetype");
  font-weight: normal;
}

/* Manrope SemiBold */
@font-face {
  font-family: "Manrope";
  src: url("./assets/fonts/Manrope-SemiBold.ttf") format("truetype");
  font-weight: 600;
}

@layer base {
  :root {
    --background-color: #ffffff;
  }

  body {
    margin: 0;
    color: #08090b;
    height: 100%;
    width: 100%;
    min-height: -webkit-fill-available;
    font-weight: 500;
    letter-spacing: 0.3px;
    font-family: "Manrope", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: var(--background-color);
    background-size: cover;
    background-repeat: no-repeat;
    overflow: hidden;

    -webkit-tap-highlight-color: transparent;
  }
}
@layer utilities {
  .content-auto {
    content-visibility: auto;
  }
}

body {
  font-family: Manrope, "sans-serif";
}
.maintable thead tr:first-of-type td {
  padding-top: 8px;
  padding-bottom: 8px;
  font-weight: 600;
  font-size: 16px;
  color: white;
  background-color: #fff;
  color: #000;
  border-bottom: 1px solid #1e3a8a;
}

.maintable thead tr td {
  background-color: #fff;
  padding-top: px;
  padding-bottom: 16px;
  font-weight: 600;
  color: #08090b;
}
.maintable {
  border: none;
}

table {
  width: 100%;
  border-collapse: collapse;
}
th,
td {
  padding: 10px;
  text-align: left;
}

.vaulttext {
  width: 100%;
  resize: vertical;
  font-size: 14px;
}

.solobutton {
  background-color: #eee;
  border: 0.5px solid #ededed;
  border-radius: 8px;
  padding: 8px 8px;
  font-family: Manrope;
  font-size: 14px;
}
.solobutton-edit {
  font-family: Manrope;
  background: #fff;
}
.solobutton-edit:focus {
  font-family: Manrope;
  border: 0.5px solid #ededed;
}

.solobutton:hover {
  font-family: Manrope;
  cursor: pointer;
  color: #fff;
  background-color: #888888;
  border-radius: 8px;
  padding: 8px 8px;
  border-color: #16181c;
}

.solobutton[disabled]:hover {
  cursor: default;
  color: #fff;
  background-color: #eee;
  border: 0.5px solid #ededed;
  border-radius: 8px;
  padding: 8px 8px;
  font-size: 14px;
}

.solobutton:active {
  opacity: 0.8;
  font-style: italic;
}

.coinamount {
  font-size: 18px;
  font-style: bold;
  width: 100%;
}

.tablename {
  font-size: 18px;
  font-style: bold;
  text-align: right;
  vertical-align: top;
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  padding-right: 25px; /* Adjust the padding to make room for the custom arrow */
  background: url("caret-down.svg") no-repeat right center; /* Add your custom arrow icon */
  background-color: #ffffff;
}

select::after {
  content: "\25BC"; /* Unicode character for a down arrow */
  font-size: 14px;
  color: #08090b;
  position: absolute;
  top: 50%;
  right: 8px;
  transform: translateY(-50%);
}

.highlight {
  background-color: yellow; /* Set the highlight color */
  color: red;
}

.bg-orange-500 {
  background-color: rgb(249 115 22);
}
.overflow-hidden {
  overflow: hidden;
}
.truncate {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.break-all {
  word-break: break-all;
}